<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="spacetrans" transaction-type="RESOURCE_LOCAL">

        <class>com.company.st.entity.atmosphere.Gas</class>
        <class>com.company.st.entity.atmosphere.AtmosphericGas</class>
        <class>com.company.st.entity.atmosphere.Atmosphere</class>
        <class>com.company.st.entity.spacebody.Moon</class>
        <class>com.company.st.entity.spacebody.Planet</class>
        <class>com.company.st.entity.spacebody.AstronomicalBody</class>
        <class>com.company.st.entity.customer.Customer</class>
        <class>com.company.st.entity.customer.Individual</class>
        <class>com.company.st.entity.customer.Company</class>
        <class>com.company.st.entity.customer.Discounts</class>
        <class>com.company.st.entity.spaceport.Dimensions</class>
        <class>com.company.st.entity.spaceport.Coordinates</class>
        <class>com.company.st.entity.spaceport.SpacePort</class>
        <class>com.company.st.entity.spaceport.Carrier</class>
        <class>com.company.st.entity.waybill.WayBillItem</class>
        <class>com.company.st.entity.waybill.WayBill</class>
    </persistence-unit>
</persistence>
